<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
    <meta http-equiv="Content-Type" content="text/html" />
    <title>{$title|htmlspecialchars}</title>
    <meta name="description" content="{$metadescription}" />
    <meta name="keywords" content="{$metakeywords}" />
    <link rel="stylesheet" type="text/css" href="{$bblogurl}templates/lines/lines.css" />
</head>
<body>
<div id="banner">
    <h1><a href="{$blogurl}">{$blogname}</a></h1>
      <span class="description">{$blogdescription}</span>
</div>
<div id="content">
      <div class="blog">


