<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
<title>{$title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="robots" content="all" />
<meta name="author" content="Eaden McKee" />
<meta name="description" content="Blog description" />
<meta name="keywords" content="blog keywords" />
<style type="text/css" media="screen">
<!--
@import "{$bblogurl}templates/new/new.css";
-->
</style>
<link rel="alternate" type="application/rss+xml" title="RSS" href="{$blogurl}rss.php" />
</head>

<body>

  <div id="header">
    <h1><a href="{$blogurl}">{$blogname}</a></h1>
    <h2>{$blogtagline}</h2>
  </div>
  <div id="border">
