{assign var=title value=$blogname}
{include file="header.html"}
{getrecentposts num=10 assign=posts home=true}
{foreach from=$posts item=post}
<h2>{$post.posttime|date_format:s2}</h2>
<div class="post">
	 <h3 class="storytitle" id="post-{$post.id}"><a href="{$post.permalink}" rel="bookmark" title="Permanent Link: {$post.title}">{$post.title}</a></h3>
	<div class="meta">Filed under: <ul class="post-categories">
        {foreach from=$post.sections item=sect}
	<li><a href='{$sect.url}' title='View all posts in {$sect.nicename}'>{$sect.nicename}</a></li>
        {/foreach}
	</ul> &#8212; {$post.posttime|date_format:time} </div>

	<div class="storycontent">
{$post.body}
	</div>


	<div class="feedback">

		<a href="{$post.permalink}">Comments ({$post.commentcount})</a>
	</div>
	

<!--
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
<rdf:Description
    rdf:about="{$post.permalink}"
    dc:identifer="{$post.permalink}"
    dc:title="{$post.title}"
    trackback:ping="{$post.trackbackurl}" />
</rdf:RDF>
-->
</div>
{/foreach}
{include file="index-sidebar.html"}
{include file="footer.html"}