
<div id="menu">

<ul>
		<li id="wordpress">WordPress
	<ul>

<li><a href='http://wordpress.org/'>WordPress</a>
</li>
<li><a href='http://photomatt.net/'>Matt</a>
</li>
<li><a href='http://zed1.com/journalized/'>Mike</a>
</li>
<li><a href='http://www.alexking.org/'>Alex</a>
</li>
<li><a href='http://dougal.gunters.org/'>Dougal</a>
</li>

	</ul>
</li>
 <li id="categories">Categories:
	<ul>
	<li><a href="#" title="View all posts filed under WordPress">WordPress</a></li>
	<li><a href="#" title="View all posts filed under Development">Development</a></li>
	<li><a href="#" title="View all posts filed under Web Standards">Web Standards</a></li>
	<li><a href="#" title="View all posts filed under Technology">Technology</a></li>
	<li><a href="#" title="View all posts filed under General">General</a></li>

	</ul>
 </li>
 </ul>
 </div>